<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Roll the dise !<%= disVal %>
    </h1>
    <% if(disVal==6){ %>
        <h2>Waw! Roll dice again!</h2>
        <% } %>
</body>

</html>