<%- include("includes/head.ejs"); %>


<body>
   <h2>This Page belongs to @<%= username %></h2>
   <button>Follow</button>
   <button>Message</button>
<h2>Account follow you !</h2>
<ul>
 <% for(let name of followers){%>
    <li><%=name %></li>
 <% } %>
</ul>
<%- include("includes/footer.ejs"); %>

</body>


</html>

