
.face{
    /* background-color: yellow; */
    /* border-radius: 50%; */
    width: 400px;
    height: 400px;
    margin-left: 8px;
    margin-top: 10px;
}
.mouth{
    background-color: brown;
    height: 60px;
    width: 200px;
    display: inline-block;
    position: absolute;
    border-radius: 0 0 50px 50px;
    top: 250px;
    left: 100px;
}
.lefte,.righte{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 90px;
}
.righte{
    left: 250px;
}


